@font-face {
  font-family: 'BricolageGrotesque-Medium';
  src: url('../vendor/assets/BricolageGrotesque-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BricolageGrotesque-Bold';
  src: url('../vendor/assets/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
}
.reset-vendor-card {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.reset-left-bg {
  flex: 1;
  background-image: url('../vendor/assets/Signup-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;
}
.reset-text-group {
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset-text-group h1 {
  font-family: 'BricolageGrotesque-Medium', sans-serif;
  font-size: 32px;
  color: white;
  margin-bottom: 0.5rem;
}
.reset-text-group p {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 14px;
  margin-left: 0.5rem;
  max-width: 80%;
  text-align: center;
  color: white;
}
.reset-vendor-info {
  flex: 1;
  padding: 4rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}
.reset-title-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7rem;
  margin-top: 2rem;
}
.reset-title-group h1 {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 32px;
  color: #202224;
  margin-left: 3rem;
}
.reset-title-group p {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 18px;
  color: #202224;
  margin-left: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.reset-password-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.reset-label1 {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 16px;
  color: #202224;
  margin: 0.8rem 0 1rem 0;
}
.reset-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.reset-simple-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #D5D5D5;
  font-family: 'BricolageGrotesque-Medium', sans-serif;
  font-size: 18px;
  background-color: #F5F6FA;
  color: #A6A6A6;
}
.reset-simple-input:focus {
  outline: none;
  border-color: #818181;
}
.reset-eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #8A8B8C;
  font-size: 18px;
}
.reset-next-button {
  background-color: #BE0000;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  width: 100%;
  max-width: 550px;
  align-self: flex-start;
  margin: 2rem auto 0 2rem;
  display: block;
}
.reset-next-button:hover {
  background-color: #df4545;
}
.reset-social-icons {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 5rem;
  margin-top: 4rem;
  gap: 10px;
}
.reset-social-icons span {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 16px;
  color: #8A8B8C;
  margin-bottom: 10px;
}
.reset-social-icons-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reset-social-icons-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.reset-divider-with-text {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
  gap: 20px;
}
.reset-line {
  flex: 1;
  width: 200px;
  height: 1px;
  background-color: #FF5315;
}
.reset-or-text {
  font-size: 14px;
  color: #FF5315;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
}
.reset-login-text {
  align-self:center;
}
@media (max-width: 850px) {
  .reset-left-bg {
    display: none;
  }
  .reset-vendor-card {
    display: block;
    height: auto;
    overflow-y: auto;
  }
  .reset-vendor-info {
    width: 100%;
    padding: 2rem;
    border-radius: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reset-title-group {
    margin-left: 0;
    align-items: center;
    text-align: center;
    margin-top: 0.2rem;
  }
  .reset-title-group h1 {
    font-size: 24px;
    margin-left: 0;
  }
  .reset-title-group p {
    font-size: 16px;
    margin: 1rem 0 1.5rem 0;
  }
  .reset-simple-input {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    font-size: 16px;
    padding: 0.6rem;
  }
  .reset-label1 {
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin: 0.8rem auto 1rem auto;
  }
  .reset-password-container {
    width: 100%;
    max-width: 400px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }
  .reset-input-wrapper {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .reset-eye-icon {
    right: 10px;
    font-size: 16px;
  }
  .reset-next-button {
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto 1rem auto;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  .reset-social-icons {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto 0 auto;
    text-align: center;
    align-items: center;
  }
  .reset-social-icons span {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .reset-social-icons-icons {
    gap: 15px;
    justify-content: center;
  }
  .reset-social-icons-icons img {
    width: 40px;
    height: 40px;
  }
  .reset-divider-with-text {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto 0.5rem auto;
    gap: 10px;
  }
  .reset-line {
    width: 100%;
  }
  .reset-or-text {
    font-size: 14px;
    text-align: center;
  }
  .reset-login-text {
    text-align: center;
    font-size: 16px;
    margin: 1rem auto;
  }
}